{{ block "createPal" .}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="/styles/index.css" />
  <link rel="stylesheet" href="/styles/navbar.css" />
  <title>PalDeck -- Create New</title>
</head>
<body>
  {{ template "navbar" . }}
  <div class="form-container">
    <form action="POST">
      <div class='"form-input-group'>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
      </div>
      <div class="form-input-group">
        <label for="key">Key:</label>
        <input type="text" id="key" name="key" required>
      </div>
      <div class="form-input-group">
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required>
      </div>
      <div class="form-input-group">
        <label for="type">Type:</label>
        <input type="text" id="type" name="type" required>
      </div>
      <div class="form-input-group">
        <label for="aura">Aura:</label>
        <input type="text" id="aura" name="aura" required>
      </div>
      <div class="form-input-group">
        <label for="auraDescription">Aura Description:</label>
        <input type="text" id="auraDescription" name="auraDescription" required>
      </div>
      <p>Work Suitability: </p>
      <div class='suitability-ranking-container'>
        <div class="form-input-group">
          <label for="kindling">
            <img src="/assets/images/works/kindling.png" alt="Kindling">
          </label>
          <select id="kindling" name="kindling">
            {{ template "suitability-options" .}}
          </select>
        </div>
        <div class="form-input-group">
          <label for="watering">
            <img src="/assets/images/works/watering.png" alt="Watering">
          </label>
          <select id="watering" name="watering">
            {{ template "suitability-options" .}}
          </select>
        </div>
        <div class="form-input-group">
          <label for="planting">
            <img src="/assets/images/works/planting.png" alt="Planting">
          </label>
          <select id="planting" name="planting">
            {{ template "suitability-options" .}}
          </select>
        </div>
        <div class="form-input-group">
          <label for="generating-electricity">
            <img src="/assets/images/works/generating_electricity.png" alt="Generating Electricity">
          </label>
          <select id="generating-electricity" name="generating-electricity">
            {{ template "suitability-options" .}}
          </select>
        </div>
        <div class="form-input-group">
          <label for="handiwork">
            <img src="/assets/images/works/handiwork.png" alt="Handiwork">
          </label>
          <select id="handiwork" name="handiwork">
            {{ template "suitability-options" .}}
          </select>
        </div>
        <div class="form-input-group">
          <label for="gathering">
            <img src="/assets/images/works/gathering.png" alt="Gathering">
          </label>
          <select id="gathering" name="gathering">
            {{ template "suitability-options" .}}
          </select>
        </div>
        <div class="form-input-group">
          <label for="lumbering">
            <img src="/assets/images/works/lumbering.png" alt="Lumbering">
          </label>
          <select id="lumbering" name="lumbering">
            {{ template "suitability-options" .}}
          </select>
        </div>
        <div class="form-input-group">
          <label for="mining">
            <img src="/assets/images/works/mining.png" alt="Mining">
          </label>
          <select id="mining" name="mining">
            {{ template "suitability-options" .}}
          </select>
        </div>
        <div class="form-input-group">
          <label for="medicine-production">
            <img src="/assets/images/works/medicine_production.png" alt="Medicine Production">
          </label>
          <select id="medicine-production" name="medicine-production">
            {{ template "suitability-options" .}}
          </select>
        </div>
        <div class="form-input-group">
          <label for="cooling">
            <img src="/assets/images/works/cooling.png" alt="Cooling">
          </label>
          <select id="cooling" name="cooling">
            {{ template "suitability-options" .}}
          </select>
        </div>
        <div class="form-input-group">
          <label for="transporting">
            <img src="/assets/images/works/transporting.png" alt="Transporting">
          </label>
          <select id="transporting" name="transporting">
            {{ template "suitability-options" .}}
          </select>
        </div>
        <div class="form-input-group">
          <label for="farming">
            <img src="/assets/images/works/farming.png" alt="Farming">
          </label>
          <select id="farming" name="farming">
            {{ template "suitability-options" .}}
          </select>
        </div>
      </div>
      
      <button type="submit">Create Pal</button>

    </form>
  </div>
</body>
</html>


{{ end }}