{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/styles/index.css" />
    <title>PalDeck</title>
  </head>
  <body>
    <h1>PalDeck</h1>
    {{ template "palCard" . }}
    
  </body>
</html>
{{ end }}



{{ block "palCard" . }}
  <div class="pal-list-container">
    {{ range .Pals }}
      <div class="pal-card-container">
        <div class="pal-card-header">
          <div>{{ .Name }}</div>
          <div>{{ .Key }}</div>
        </div>
        <div class="pal-card-body">
          <div class="pal-card-img-container">Img</div>
          <div class="pal-card-details-container">
            <div>Description</div>
            <div>Type: </div>
            <div>Aura: </div>
            <div>Aura Description: </div>
            <div>Work Suitability</div>
            
          </div>
        </div>
        <div class="pal-card-footer">
          <div>Work Suitability: </div>
          <div class="pal-card-suitability-container">
            <div>Kindling</div>
            <div>Watering</div>
            <div>Planting</div>
            <div>Generating Electricity</div>
            <div>Handiwork</div>
            <div>Gathering</div>
            <div>Lumbering</div>
            <div>Mining</div>
            <div>Medicine Production</div>
            <div>Cooling</div>
            <div>Transporting</div>
            <div>Farming</div>
          </div>
        </div>  
      </div>
    {{ end }}
  </div>
{{ end }}
