{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/styles/index.css" />
    <title>PalDeck</title>
  </head>
  <body>
    <h1>PalDeck</h1>
    {{ template "palCard" . }}
    
  </body>
</html>
{{ end }}



{{ block "palCard" . }}
  <div class="pal-list-container">
    {{ range .Pals }}
      <div class="pal-card-container">
        <div class="pal-card-header">
          <div>{{ .Name }}</div>
          <div>{{ .Key }}</div>
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}
