{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/styles/index.css" />
    <title>PalDeck</title>
  </head>
  <body>
    <h1>PalDeck</h1>
    {{ template "palCard" . }}
    
  </body>
</html>
{{ end }}



{{ block "palCard" . }}
  <div class="pal-list-container">
    {{ range .Pals }}
      <div class="pal-card-container">
        <div class="pal-card-header">
          <div>{{ .Name }}</div>
          <div>{{ .Key }}</div>
        </div>
        <div class="pal-card-body">
          <div class="pal-card-img-container">
            <img src="/assets/images/pals/{{ .Key }}.png"  />
          </div>
          <div class="pal-card-details-container">
            <div>Description</div>
            <div>Type: </div>
            <div>Aura: </div>
            <div>Aura Description: </div>
            
          </div>
        </div>
        <div class="pal-card-footer">
          <div>Work Suitability: </div>
          <div class="pal-card-suitability-container">
            <div id="kindling" class="pal-card-suitability-item">
              <span class="suitability-rank">0</span>
              <span class="suitability-icon"><img src="/assets/images/works/kindling.png"></span>
            </div>
            <div id="watering" class="pal-card-suitability-item">
              <span class="suitability-rank">0</span>
              <span class="suitability-icon"><img src="/assets/images/works/watering.png"></span> 
            </div>
            <div id="planting" class="pal-card-suitability-item">
              <span class="suitability-rank">0</span>
              <span class="suitability-icon"><img src="/assets/images/works/planting.png"></span>
            </div>
            <div id="generating-electricity" class="pal-card-suitability-item">
              <span class="suitability-rank">0</span>
              <span class="suitability-icon"><img src="/assets/images/works/generating_electricity.png"></span>
            </div>
            <div id="handiwork" class="pal-card-suitability-item">
              <span class="suitability-rank">0</span>
              <span class="suitability-icon"><img src="/assets/images/works/handiwork.png"></span>
            </div>
            <div id="gathering" class="pal-card-suitability-item">
              <span class="suitability-rank">0</span>
              <span class="suitability-icon"><img src="/assets/images/works/gathering.png"></span>
            </div>
            <div id="lumbering" class="pal-card-suitability-item">
              <span class="suitability-rank">0</span>
              <span class="suitability-icon"><img src="/assets/images/works/lumbering.png"></span>
            </div>
            <div id="mining" class="pal-card-suitability-item">
              <span class="suitability-rank">0</span>
              <span class="suitability-icon"><img src="/assets/images/works/mining.png"></span>
            </div>
            <div id="medicine-production" class="pal-card-suitability-item">
              <span class="suitability-rank">0</span>
              <span class="suitability-icon"><img src="/assets/images/works/medicine_production.png"></span>
            </div>
            <div id="cooling" class="pal-card-suitability-item">
              <span class="suitability-rank">0</span>
              <span class="suitability-icon"><img src="/assets/images/works/cooling.png"></span>
            </div>
            <div id="transporting" class="pal-card-suitability-item">
              <span class="suitability-rank">0</span>
              <span class="suitability-icon"><img src="/assets/images/works/transporting.png"></span>
            </div>
            <div id="farming" class="pal-card-suitability-item">
              <span class="suitability-rank">0</span>
              <span class="suitability-icon"><img src="/assets/images/works/farming.png"></span>
            </div>
          </div>
        </div>  
      </div>
    {{ end }}
  </div>
{{ end }}
