:root {
  --primary-color: #f0f0f0;
  --secondary-color: #f0f0f0;
  --tertiary-color: #f0f0f0;
  --quaternary-color: #f0f0f0;
  --quinary-color: #f0f0f0;
  --senary-color: #f0f0f0;
  --septenary-color: #f0f0f0;
  --octonary-color: #f0f0f0;
  --nonary-color: #f0f0f0;
  --denary-color: #f0f0f0;
  font-family: 'Courier New', Courier, monospace;
}

.pal-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pal-card-container {
  display: flex;
  max-width: 400px;
  min-width: 300px;
  flex-direction: column;
  justify-content: center;
  background: rgb(188, 188, 188);
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
}

.pal-card-header {
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pal-card-body {
  display: flex;
}

.pal-card-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    border: 2px solid rgb(82, 82, 82);
    width: 100px;
    height: 100px;
  }
}

.pal-card-details-container {
  display: flex;
  flex-direction: column;
}

.pal-card-footer {
  margin-top: 20px;
  margin-bottom: -10px;
}

.pal-card-suitability-container {
  display: flex;
  overflow: hidden;
  .pal-card-suitability-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    .suitability-rank {
      text-align: center;
    }
    img {
      width: 30px;
      height: 30px;
    }
  }
}
